<div *ngIf="showEmployeesList">
    <h1>Employee List</h1>
    <table class="table">
        <tr>
            <th>ID</th>
            <th>Code</th>
            <th>Name</th>
            <th>Weekly Effort (Total)</th>
            <th>Weekly Effort (Average)</th>
        </tr>
        <tr *ngFor="let item of employees" (click)="onEmployeeSelected(item.id)">
            <td>{{item.id}}</td>
            <td>{{item.code}}</td>
            <td>{{item.name}}</td>
            <td>{{item.weeklyEffortTotal}}</td>
            <td>{{item.weeklyEffortAverage}}</td>
        </tr>
    </table>
</div>

<div *ngIf="showTimesheet">
    <h1>Timesheet</h1>
    <input type="button" value="Back" (click) = "backToList()"/>&nbsp;&nbsp;&nbsp;&nbsp;
    <input type="button" value="Add Effort" (click)="addEffort()"/>&nbsp;&nbsp;&nbsp;&nbsp;
    <input type="button" value="Save" (click)="updateTimesheet()"/><br/><br/>
    <select [(ngModel)]="selEmployeeId" (ngModelChange) = "onEmployeeSelected(selEmployeeId)">
        <option *ngFor="let emp of employees" [value] = "emp.id">{{emp.name}}</option>
    </select>
    <br/><br/>
    <table class="table">
        <thead>
            <tr>
                <th [ngStyle]="{'width': '30%'}">Task Name</th>
                <th *ngFor="let col of columns"  [ngStyle]="{'width': '10%'}">
                    {{getDayName(col)}}<br/>
                    {{col}}
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let task of tasks">
                <td>
                    <select [(ngModel)]="task.taskId" (ngModelChange) = "onTaskChange(task)" [ngStyle]="{'width': '100%'}">
                        <option *ngFor="let d of taskLookup" [value] = "d.id">{{d.name}}</option>
                    </select>
                </td>
                <td *ngFor="let effort of task.dayEfforts">
                    <input type="number" [(ngModel)]="effort.hours" [ngStyle]="{'width': '100%'}"/>
                </td>
            </tr>
        </tbody>
    </table>
</div>
